@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;700&display=swap');

body{
    margin: 0;
}

/* Cabeçalho da página */

.pokeHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.pokeHeader .img{
    width: 280px;
}

.pokeHeader .titulo{
    font-family: 'Luckiest Guy', cursive;
    color: #2C71B8;
    line-height: 11px;
}


/* Corpo da página */
.pokemonsList{
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.pokemonItem {
    width: 220px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 3.3px 5.5px 3.9px #aeaeae;
    border: 1px solid #ddd;
    margin-bottom: 30px;
    background: url('img/background.png')center 70px/90px no-repeat;
}


.pokemonItem .idPokemon, .nomePokemon{
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
}

.pokemonItem .idPokemon{
    font-weight: 600;
}

/* spinner loader*/
.containerSpiner{
    display: flex;
    justify-content: center;
}

.containerSpiner img{
    opacity: 0;
    width: 221.8px;
    padding-left: 30px;
    transition: all 0.3s linear;
}

.containerSpiner .spinnerActive{
    opacity: 1;
}


@media screen and (max-width: 503px){
    .pokemonsList{
        justify-content: center;
    }
}